.mail {
  flex: 1;
  overflow: scroll;
  justify-content: space-between;
  scrollbar-width: 10px;
  background-color: whitesmoke;
}

.mail__tools {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.mail__toolsRight {
  display: flex;
  align-items: center;
}

.padding-top {
  padding-top: 6px;
}

.mail__body-container {
  padding-bottom: 20px;
}

.mail__body {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 20px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
  min-height: 88vh;
}

.mail__bodyHeader > h2 {
  font-weight: 400;
  margin-right: 20px;
}

.mail__bodyHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 10px;
  position: relative;
}

.mail__important {
  color: gold !important;
}

.mail__message > p {
  padding: 10px;
  margin-right: 20px;
  overflow-wrap: break-word;
}

.mail__time {
  position: absolute;
  right: 20px;
  color: #a09f9f;
}

.mail__bodyHeader > p {
  margin-left: 20px;
}
